<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../../../css/alertify.css">
    <link rel="stylesheet" href="../../../css/themes/default.css">
    <title>EVENTO/VISTA</title>
  </head>
  <body>

    <br><br>
      <nav class="navbar navbar-expand-lg  navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="../../panel-admin.html"> <img src="../../../img/iconos/grid-three-up-3x.png" alt=""> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label class="h4"="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="../../panel-admin.html">Regresar a panel</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../../index.html">Cerrar Sesión</a>
            </li>
          </ul>
        </div>
      </nav>
    <br>

    <h1 class="display-4 text-center">Ver Evento</h1>
    <br>
    <br>

    <section class="container">
      <form>
        <div class="form-group">
          <label class="h4" for="client">Cliente: </label class="h4">
          <input type="text" class="form-control-plaintext" id="client" data-type="nombre" readonly>
        </div>
        <div class="form-group">
          <label class="h4" for="dateStart">Fecha Inicio: </label class="h4">
          <input type="date" class="form-control-plaintext" id="dateStart" data-type="fecha" readonly>
        </div>
        <div class="form-group">
          <label class="h4" for="dateEnd">Fecha Fin: </label class="h4">
          <input type="date" class="form-control-plaintext" id="dateEnd" data-type="fecha" readonly>
        </div>
        <div class="form-group">
          <label class="h4" for="persons">Numero de Personas: </label class="h4">
          <input type="number" class="form-control-plaintext" id="persons" data-type="numero" readonly>
        </div>
      </form>
    </section>

    <h2 class="display-5 text-center">Paquetes</h1>
    <br>

    <section class="container">
      <table id="tablaPaquetes" class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Descripcion</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </section>

    <br><br><br><br>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="../../../js/vendor/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <script src="../../../js/alertify.min.js" type="text/javascript"></script>
    <script src="../../../js/md5.min.js" type="text/javascript"></script>
    <script src="../../../js/validation.js" type="text/javascript"></script>
    <script src="../../../js/views/admin/evento/vista.js" type="text/javascript"></script>
  </body>
</html>
